.topbar{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#1e293b;
color:white;
}

.wallet{
text-align:right;
}

.container{
padding:40px;
}

.contracts{
display:flex;
gap:25px;
flex-wrap:wrap;
}

.card{
background:#1f2937;
padding:25px;
width:260px;
border-radius:15px;
color:white;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.btn{
margin-top:15px;
width:100%;
padding:10px;
border:none;
border-radius:10px;
background:#3b82f6;
color:white;
cursor:pointer;
}

.status{
float:right;
padding:4px 10px;
border-radius:8px;
font-size:12px;
}

.pending{
background:#f59e0b;
}

.funded{
background:#10b981;
}

.completed{
background:#3b82f6;
}